.btn {
  display: block;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: $color-white;
  font-size: 11px;
  font-family: $font-family-secondary;
  margin-bottom: 30px;
  scroll-snap-align: center;
  outline: none;
  padding: 30px 1px 35px;
}

.btn__dice {
  &--d4 {
    background-image: url("../img/d4.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &--d6 {
    background-image: url("../img/d6.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 21px 15px 22px 6px;
  }

  &--d8 {
    background-image: url("../img/d8.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--d10 {
    background-image: url("../img/d10.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--d12 {
    background-image: url("../img/d12.svg");
    background-position: center;
    background-repeat: no-repeat;
    color: $color-black;
  }

  &--d20 {
    background-image: url("../img/d20.svg");
    background-position: center;
    background-repeat: no-repeat;
    color: $color-black;
  }

  &--d100 {
    background-image: url("../img/d100.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
  }
}
