.dices {
  width: 100px;
  height: 100px;
  overflow: scroll;
  background-color: $color-white-05;
  border: 2px solid $color-black;
  border-radius: 5px;
  padding: 12px 11px 12px 16px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
