.dices {
  width: 100px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  background-color: $color-white-05;
  border: 2px solid $color-black;
  border-radius: 5px;
  padding: 10px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;

  @media (max-width: 430px) {
    background-color: $color-white;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
