.log {
  width: 100px;
  height: 70px;
  border: 2px solid $color-black;
  border-radius: 5px;
  overflow: scroll;
  padding: 11px;
  margin-right: 10px;
  font-size: 15px;
  background-color: $color-white-05;
}

.log__text {
  @include style-reset;
  width: 78px;
  white-space: pre-wrap;
}
