.map {
  position: fixed;
  width: 100%;
  height: calc(100vh + 48px);
  display: flex;
  flex-direction: column;
}

.map__wrapper {
  position: relative;
}

.map iframe {
  position: relative;
  width: 100vw;
  height: calc(100vh + 48px);
  border: none;
}
