.rolling {
  position: fixed;
  display: flex;
  justify-content: center;
  right: 55px;
  bottom: 16px;
  width: 340px;
  height: 70px;
  z-index: 100000;
  overflow-x: hidden;

  @media (max-width: 400px) {
    right: 16px;
  }
}
