.rolling {
  @include list-reset;
  position: fixed;
  display: flex;
  justify-content: center;
  right: 55px;
  bottom: 15px;
  width: 340px;
  height: 70px;
  z-index: 100000;
  overflow-x: hidden;

  @media (max-width: 430px) {
    width: 100%;
    min-width: 350px;
    right: 0;
    bottom: 0;
    justify-content: space-around;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
